@model HumanResourcesDepartment.ViewModels.EmployeeEditViewModel

<form id="editForm" asp-action="Edit">
    @if (Model.IsEdited)
    {
        <h1>
            Личные данные
            <button type="button" onclick="SendEditForm()" class="btn btn-link"><i class="fa fa-save"></i></button>
            <button type="button" onclick="getEmployeeInfo(@Model.Id)" class="btn btn-link"><i class="fa fa-times"></i></button>
        </h1>
    }
    else
    {
        <h1>Личные данные <button type="button" onclick="EmployeeEdit(@Model.Id)" class="btn btn-link"><i class="fa fa-pencil"></i></button></h1>
    }
    <input type="hidden" asp-for="Id" />
    <dl class="row">

        <dt class="col-4">Фамилия</dt>
        <dd class="col-8">  
            @if (Model.IsEdited)
            {
                <input asp-for="Surname" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            }
            else
            {
                <input value="@Model.Surname" disabled />
            }
        </dd>

        <dt class="col-4">Имя</dt>
        <dd class="col-8">
            @if (Model.IsEdited)
            {
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            }
            else
            {
                <input value="@Model.FirstName" disabled />
            }
        </dd>

        <dt class="col-4">Отчество</dt>
        <dd class="col-8">
            @if (Model.IsEdited)
            {
                <input asp-for="Patronymic" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            }
            else
            {
                <input value="@Model.Patronymic" disabled />
            }
        </dd>

        <dt class="col-4">Дата рождения</dt>
        <dd class="col-8">
            @if (Model.IsEdited)
            {
                <input type="date" asp-for="DOB" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            }
            else
            {
                <input value="@Model.DOB.ToShortDateString()" disabled />
            }
        </dd>

        <dt class="col-4">Номер паспорта</dt>
        <dd class="col-8">
            @if (Model.IsEdited)
            {
                <input asp-for="PassportID" />
                <span asp-validation-for="PassportID" class="text-danger"></span>
            }
            else
            {
                <input value="@Model.PassportID" disabled />
            }
        </dd>

        <dt class="col-4">Номер телефона</dt>
        <dd class="col-8">
            @if (Model.IsEdited)
            {
                <input asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            }
            else
            {
                <input value="@Model.PhoneNumber" disabled />
            }
        </dd>
    </dl>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
