@model Employee

@if (Model == null)
{
    <span>Сотрудник не найден!</span>
}
else
{
    <div class="col-4">
        <div class="mt-2 mb-5 row justify-content-center">
            <img height="350" width="350" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture.Image))" alt="" />
        </div>
        @if (!Model.IsDismissed)
        {
            <div class="row justify-content-center m-3">
                <div class="col-10">
                    <a asp-action="EmployeeBusinessTrip" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-block">Командировка</a>
                </div>
            </div>
            <div class="row justify-content-center m-3">
                <div class="col-10">
                    <a asp-action="EmployeeVacation" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-block">Отпуск</a>
                </div>
            </div>
            <div class="row justify-content-center m-3">
                <div class="col-10">
                    <a asp-action="EmployeeSickLeave" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-block">Больничный</a>
                </div>
            </div>
            <div class="row justify-content-center m-3">
                <div class="col-10">
                    <a asp-action="EmployeeTransfer" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-block">Перевод</a>
                </div>
            </div>
            <div class="row justify-content-center m-3">
                <div class="col-10">
                    <a asp-controller="TimeSheets" asp-action="EmployeeTimeSheet" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-block">Табель рабочего времени</a>
                </div>
            </div>
            <div class="row justify-content-center m-3">
                <div class="col-10">
                    <a asp-action="EmployeeDismissal" asp-route-id="@Model.Id" class="btn btn-outline-danger btn-block">Увольнение</a>
                </div>
            </div>
        }
    </div>
    <div class="col-5">
        <div id="personalInfoBlock">
            <h1>Личные данные <button title="Редактировать" onclick="EmployeeEdit(@Model.Id)" class="btn btn-link"><i class="fa fa-lg fa-pencil"></i></button></h1>
            <hr />
            <div class="form-group row">
                <label for="Surname" class="col-4 col-form-label"><strong>Фамилия</strong></label>
                <div class="col-8">
                    <input id="Surname" class="form-control" value="@Model.Surname" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label for="FirstName" class="col-4 col-form-label"><strong>Имя</strong></label>
                <div class="col-8">
                    <input id="FirstName" class="form-control" value="@Model.FirstName" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label for="Patronymic" class="col-4 col-form-label"><strong>Отчество</strong></label>
                <div class="col-8">
                    <input id="Patronymic" class="form-control" value="@Model.Patronymic" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label for="DOB" class="col-4 col-form-label"><strong>Дата рождения</strong></label>
                <div class="col-8">
                    <input id="DOB" class="form-control" value="@Model.DOB.ToShortDateString()" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label for="PassportID" class="col-4 col-form-label"><strong>Номер паспорта</strong></label>
                <div class="col-8">
                    <input id="PassportID" class="form-control" value="@Model.PassportID" disabled />
                </div>
            </div>

            <div class="form-group row">
                <label for="PhoneNumber" class="col-4 col-form-label"><strong>Номер телефона</strong></label>
                <div class="col-8">
                    <input id="PhoneNumber" class="form-control" value="@Model.PhoneNumber" disabled />
                </div>
            </div>
        </div>
        @if (Model.IsDismissed)
        {
            <h1 class="text-danger">Уволен</h1>
        }
        else
        {
            <h1>Профессиональные данные</h1>
            <hr />
            <div class="form-group row">
                <label for="Id" class="col-4 col-form-label"><strong>Табельный номер</strong></label>
                <div class="col-8">
                    <input id="Id" class="form-control" value="@Model.Id" disabled />
                </div>
            </div>
            <div class="form-group row">
                <label for="Department" class="col-4 col-form-label"><strong>Отдел</strong></label>
                <div class="col-8">
                    <input id="Department" class="form-control" value="@Model.Department.Name" disabled />
                </div>
            </div>
            <div class="form-group row">
                <label for="Post" class="col-4 col-form-label"><strong>Должность</strong></label>
                <div class="col-8">
                    <input id="Post" class="form-control" value="@Model.Post.PostName" disabled />
                </div>
            </div>
            <div class="form-group row">
                <label for="Salary" class="col-4 col-form-label"><strong>Оклад</strong></label>
                <div class="col-8">
                    <input id="Salary" class="form-control" value="@Model.Salary бр." disabled />
                </div>
            </div>
        }
    </div>
}
