@model IEnumerable<HumanResourcesDepartment.Models.Action>

<table class="table mt-4 bg-light table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Действие
            </th>
            <th>
                Сотрудник
            </th>
            <th>
                Описание
            </th>
            <th>
                Дата
            </th>
            <th>
                Кадровик
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GetActionName()
                </td>
                <td>
                    @item.Employee.GetFullName()
                </td>
                <td>
                    @Html.Raw(item.GetDescription())
                </td>
                <td>
                    @item.DateOfAction
                </td>
                <td>
                    @if (item.HRManager == null)
                    {
                        <span class="text-danger">Неизвестно</span>
                    }
                    else
                    {
                        @item.HRManager.GetFullName()
                    }
                </td>
            </tr>
        }
    </tbody>
</table>