@model IEnumerable<HumanResourcesDepartment.Models.Action>

<div class="mb-5 mt-5 row justify-content-center">
    <h1 class="text-center">Действия отдела кадров</h1>
</div>
<hr />
<div class="row">
    <div class="col-2">
        <form id="actionsFilterForm">
            <div class="form-group">
                <label class="control-label">Сотрудник</label>
                <select name="EmployeeId" class="form-control" asp-items="ViewBag.EmployeesId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Кадровик</label>
                <select name="HRManagerId" class="form-control" asp-items="ViewBag.HRManagerId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Действие</label>
                <select name="ActionId" class="form-control">
                    <option value="0">Все</option>
                    <option value="1">Новый сотрудник</option>
                    <option value="2">Табель рабочего вр.</option>
                    <option value="3">Увольнение</option>
                    <option value="4">Командировка</option>
                    <option value="5">Больничный</option>
                    <option value="6">Перевод</option>
                </select>
            </div>

            <div class="form-group">
                <label for="actionDate" class="control-label">Дата</label>
                <input name="Date" id="actionDate" type="date" class="form-control" disabled />
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input onchange="allTimeCheckboxListener()" name="AllTime" checked value="true" type="checkbox" class="form-check-input" id="allTimeCheckbox">
                    <label class="form-check-label" for="allTimeCheckbox">За всё время</label>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="button" value="Применить" onclick="getActions()" class="btn-block btn btn-outline-primary" />
            </div>
        </form>
    </div>
    <div class="col-10">
        <div id="actionsBlock">
            <table class="table mt-4 bg-light table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            Действие
                        </th>
                        <th>
                            Сотрудник
                        </th>
                        <th>
                            Описание
                        </th>
                        <th>
                            Дата
                        </th>
                        <th>
                            Кадровик
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.GetActionName()
                            </td>
                            <td>
                                @item.Employee.GetFullName()
                            </td>
                            <td>
                                @Html.Raw(item.GetDescription())
                            </td>
                            <td>
                                @item.DateOfAction
                            </td>
                            <td>
                                @if (item.HRManager == null)
                                {
                                    <span class="text-danger">Неизвестно</span>
                                }
                                else
                                {
                                    @item.HRManager.GetFullName()
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>