@model TimeSheet

<h1>Табель рабочего времени за @Model.GetDateString()</h1>
<div class="w-100">
    <form id="attendanceMarksForm">
        <input name="EmployeeId" value="@Model.EmployeeId" type="hidden" />
        <input name="Month" value="@Model.Month" type="hidden" />
        <input name="Year" value="@Model.Year" type="hidden" />

        <table class="table table-bordered text-center">
            <thead class="th">
                <tr>
                    <th colspan="31">
                        Отметики о явках и неявках на работу по числам месяца
                    </th>
                </tr>
                <tr>
                    @for (int i = 1; i <= 31; i++)
                    {
                        <th>@i</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for (int i = 0; i < 31; i++)
                    {
                    <td class="m-0 p-0">
                        @if (i >= Model.AttendanceMarks.Length)
                        {
                            <input class="form-control table-input" value="-" disabled />
                        }
                        else if (Model.AttendanceMarks[i] == "К" ||
                                 Model.AttendanceMarks[i] == "ОТ" ||
                                 Model.AttendanceMarks[i] == "Б")
                        {
                            <input name="AttendanceMarks" value="@Model.AttendanceMarks[i]" type="hidden" />
                            <input class="form-control table-input" value="@Model.AttendanceMarks[i]" disabled />
                        }
                        else
                        {
                            <input type="number" max="24" min="0" class="form-control table-input" name="AttendanceMarks" value="@Model.AttendanceMarks[i]" />
                        }
                    </td>
                    }
                </tr>
            </tbody>
        </table>
        <input onclick="saveTimeSheet()" type="button" class="btn" value="Сохранить" />
    </form>
</div>