@model IEnumerable<TimeSheet>

<div class="w-100 mt-5">
    <table class="table border-dark bg-light table-bordered text-center table-hover">
        <thead class="th">
            <tr>
                <th rowspan="2">Табельный номер</th>
                <th rowspan="2" colspan="3">Фамилия,<br />инициалы,<br />должность</th>
                <th colspan="31">
                    Отметики о явках и неявках на работу по числам месяца
                </th>
                <th rowspan="2">Отработано<br />(дней)</th>
                <th rowspan="2">Отработано<br />(часов)</th>
                <th rowspan="2">Пропусков<br />(дней)</th>
            </tr>
            <tr>
                @for (int i = 1; i <= 31; i++)
                {
                    <th>@i</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="m-0 p-0">@item.EmployeeId</td>
                    <td class="text-left m-0 p-0" colspan="3">@item.Employee.GetFullName()<br />@item.Employee.Post.PostName</td>
                    @for (int i = 0; i < 31; i++)
                    {
                        @if (i >= item.AttendanceMarks.Length || item.AttendanceMarks[i] == "")
                        {
                            <td class="m-0 p-0">
                                -
                            </td>
                        }
                        else
                        {
                            <td class="m-0 p-0">
                                @item.AttendanceMarks[i]
                            </td>
                        }
                    }
                    <td class="m-0 p-0">@item.NumberOfWorkingDays</td>
                    <td class="m-0 p-0">@item.NumberOfWorkingHours</td>
                    <td class="m-0 p-0">@item.NumberOfDaysOff</td>
                </tr>
            }
        </tbody>
    </table>
</div>